.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-size: cover;
		background-position:center center;
	 background-repeat:no-repeat;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.navbar-default {
  background-color: black;
	font-size: 14px;
}
.row {
border: none !important;
}
#about {
	background-image:url("stars.jpg");
	background-size: cover;
	background-position:center center;
 background-repeat:no-repeat;
 border: none !important;
}
#about p, strong {
	font-size: 18px;
	color: white;
}
#portfolio a {
    text-decoration: none !important;
		border: none !important;
		font-size: 40px;

}

.aqua {
	position: absolute;
	top: 15px;
	bottom: 0;
	left: 15px;
	right: 0;
	text-align:center;
	padding-top:calc(50% - 30px);
	background-image:url("ny.png");
	background-size: cover;
	background-position:center center;
 background-repeat:no-repeat;
 border: none !important;
}


.gold {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("cppe.png");
		background-size: 90%;
		background-position:center center;
	 background-repeat:no-repeat;
	 border: none !important;
}

.red {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("nileDesktop.png");
		background-size: 80%;
		background-position:center center;
	 background-repeat:no-repeat;
}
.green {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("PRIiphonehand2.png");
		background-size: cover;
		background-position:center center;
	 background-repeat:no-repeat;
}
.white{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("WhitePowder4.png");
		background-size: 60%;
		background-position:center center;
	 background-repeat:no-repeat;
}
.black {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("TDTipad.png");
		background-size: 70%;
		background-position:center center;
	 	background-repeat:no-repeat;
}

#about h1 {
   font-family: 'GrandHotelRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 70px;
   color: white;
}
.home-section h1 {
	font-family: 'GrandHotelRegular';
	font-size: 50px;
	color: black;
}
.portfolio-section h1 {
	font-family: 'GrandHotelRegular';
	font-size: 50px;
	color: black;
	text-align: center;
	display: center;
}
.contact-section h1 {
	font-family: 'GrandHotelRegular';
	font-size: 50px;
	color: black;
}

.aqua:after, .aqua:before {
      position: absolute;
      opacity: 0;
      transition: all 1.0s;
      -webkit-transition: all 1.0s;
}

.aqua:before {
    content: attr(data-content);
    /*content: attr(href);*/
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 2s;
    bottom: 0;
    padding: 2px 2px;
    margin-bottom: 0px;
    text-align: center;
    /*box-sizing: border-box;*/
    -moz-box-sizing:border-box;
}

.aqua:after {
    content: "UX/UI & Research";
    color:white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    padding-top: 40%;
    /*padding: 2px 2px;*/
    width: 100%;
    height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.8);
}
.aqua:hover:after, .aqua:hover:before {
    opacity: 1;
}

.gold:after, .gold:before {
      position: absolute;
      opacity: 0;
      transition: all 1.0s;
      -webkit-transition: all 1.0s;
}

.gold:before {
    content: attr(data-content);
    /*content: attr(href);*/
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 2s;
    bottom: 0;
    padding: 2px 2px;
    margin-bottom: 0px;
    text-align: center;
    /*box-sizing: border-box;*/
    -moz-box-sizing:border-box;
}

.gold:after {
    content: "UX/UI";
    color:white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    padding-top: 40%;
    /*padding: 2px 2px;*/
    width: 100%;
    height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.8);
}
.gold:hover:after, .gold:hover:before {
    opacity: 1;
}
.red:after, .red:before {
      position: absolute;
      opacity: 0;
      transition: all 1.0s;
      -webkit-transition: all 1.0s;
}

.red:before {
    content: attr(data-content);
    /*content: attr(href);*/
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 2s;
    bottom: 0;
    padding: 2px 2px;
    margin-bottom: 0px;
    text-align: center;
    /*box-sizing: border-box;*/
    -moz-box-sizing:border-box;
}

.red:after {
    content: "UX Design & Front-end Development";
    color:white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    padding-top: 40%;
    /*padding: 2px 2px;*/
    width: 100%;
    height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.8);
}
.red:hover:after, .red:hover:before {
    opacity: 1;
}
.green:after, .green:before {
      position: absolute;
      opacity: 0;
      transition: all 1.0s;
      -webkit-transition: all 1.0s;
}

.green:before {
    content: attr(data-content);
    /*content: attr(href);*/
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 2s;
    bottom: 0;
    padding: 2px 2px;
    margin-bottom: 0px;
    text-align: center;
    /*box-sizing: border-box;*/
    -moz-box-sizing:border-box;
}

.green:after {
    content: "Usability Testing & Wireframes";
    color:white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    padding-top: 40%;
    /*padding: 2px 2px;*/
    width: 100%;
    height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.8);
}
.green:hover:after, .green:hover:before {
    opacity: 1;
}

.white:after, .white:before {
      position: absolute;
      opacity: 0;
      transition: all 1.0s;
      -webkit-transition: all 1.0s;
}

.white:before {
    content: attr(data-content);
    /*content: attr(href);*/
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 2s;
    bottom: 0;
    padding: 2px 2px;
    margin-bottom: 0px;
    text-align: center;
    /*box-sizing: border-box;*/
    -moz-box-sizing:border-box;
}

.white:after {
    content: "UI Design, Research, Development";
    color:white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    padding-top: 40%;
    /*padding: 2px 2px;*/
    width: 100%;
    height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.8);
}
.white:hover:after, .white:hover:before {
    opacity: 1;
}
.black:after, .black:before {
      position: absolute;
      opacity: 0;
      transition: all 1.0s;
      -webkit-transition: all 1.0s;
}

.black:before {
    content: attr(data-content);
    /*content: attr(href);*/
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 2s;
    bottom: 0;
    padding: 2px 2px;
    margin-bottom: 0px;
    text-align: center;
    /*box-sizing: border-box;*/
    -moz-box-sizing:border-box;
}

.black:after {
    content: "UX Design, User Research, Development";
    color:white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    padding-top: 40%;
    /*padding: 2px 2px;*/
    width: 100%;
    height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.8);
}
.black:hover:after, .black:hover:before {
    opacity: 1;
}
.btn-custom {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 18px;
	font-style: bold;
  background-color: transparent;
  white-space: normal;
	border-width: .5px;
	border-color: white;
}
.btn-custom:hover {
  font-family: 'Open Sans', sans-serif;
  color: white;
	font-style: bold;
  font-size: 18px;
  background-color: transparent;
  white-space: normal;
	border-width: .5px;
	border-color: white;
}
#home {
	background-image:url("tree_bark.png");
	background-size: cover;
	background-position:center center;
 background-repeat:no-repeat;
 border: none !important;
}
#home h4 {
  margin-top: 20px;
	font-family: 'GrandHotelRegular';
	font-size: 32px;
}
#home {
	margin-top: 20px;
	margin-bottom: 10px;
}
#home .col-md-3 p {
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
#home p {
	text-align: center;
  margin-top: 22px;
	margin-bottom: 10px;
	font-size: 30px;
  font-style: bold;
  color: black;
}

#home img {
	height: 200px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#contact {
	background-color: white;
}
.fa .fa-github{
  height: 200px;
}
#linkedin {
  height: 200px;
}
#contact p {
  text-align: center;
  margin-top: 25px;
	margin-bottom: 10px;
	font-size: 30px;
  font-style: bold;
  color: black;
}
#cppe h2 {
	font-family: 'GrandHotelRegular';
	font-size: 32px;
	color: black;
}
#cppe {
	margin-top: 10%;
	margin-bottom: 12%;
	margin-left: 5%;
	font-family: 'Open Sans', sans-serif;
}
#cppe h3 {
  text-align: left;
  margin-right: 10%;
}
#cppe .col-md-5 img {
	height: 350px;
	margin-right: 5%;
	float: right;
	margin-top: 20px;
}
#cppe .container img {
	height: 500px;
	margin-left: 25px;
}
#cppe .col-md-6 img {
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
}
#cppe .row .col-md-6 img {
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
}
#cppe .col-md-4 img {
	height: 550px;
	margin-top: 10px;
	margin-right: 10px;
}
#cppe .col-sm-4 img {
	height: 400px;
	margin-top: 40px;
}
#cppe .container-bottom img {
	height: 400px;
}
#cppe .bottom img {
	height: 380px;
}
#permaculture .container-bottom img {
	height: 500px;
	margin-top: 5px;
}
.nyTop img {
	margin-top: 40px;
	height: 250px;
}
.tdtTop img {
	margin-top: 40px;
	height: 450px;
}
.bulkTop img {
	height: 800px;
}
#ny .col-md-6 img {
	height: 300px;
}
#ny {
  margin-top: 10%;
  margin-bottom: 12%;
	margin-left: 5%;
	font-family: 'Open Sans', sans-serif;
}
#ny h2 {
	  font-family: 'GrandHotelRegular';
		font-size: 40px;
}
#ny h3 {
  text-align: left;
  margin-right: 10%;
}
#ny .col-md-5 img {
	height: 400px;
	margin-right: 5%;
	float: right;
	margin-top: 10px;
}
#permaculture {
  margin-top: 10%;
  margin-bottom: 12%;
	margin-left: 5%;
	font-family: 'Open Sans', sans-serif;
}
#permaculture h2 {
	  font-family: 'GrandHotelRegular';
		font-size: 40px;
}
#permaculture h3 {
  text-align: left;
  margin-right: 10%;
}
#permaculture .col-md-5 img {
	height: 600px;
	margin-right: 3%;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 figcaption {
 	text-align: center;
     display:center;
 }
