.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-size: cover;
		background-position:center center;
	 background-repeat:no-repeat;
}
.navbar-default {
  background-color: black;
}
.row {
border: none !important;
}
#portfolio a {
    text-decoration: none !important;
		border: none !important;
		font-size: 40px;

}

.aqua {
	position: absolute;
	top: 15px;
	bottom: 0;
	left: 15px;
	right: 0;
	text-align:center;
	padding-top:calc(50% - 30px);
	background-image:url("ny.png");
	background-size: 40%;
	background-size: cover;
	background-position:center center;
 background-repeat:no-repeat;
 border: none !important;
}


.gold {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("cppe.png");
		background-size: 90%;
		background-position:center center;
	 background-repeat:no-repeat;
	 border: none !important;
}

.red {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("nileDesktop.png");
		background-size: 80%;
		background-position:center center;
	 background-repeat:no-repeat;
}
.green {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("PRIiphonehand2.png");
		background-size: cover;
		background-position:center center;
	 background-repeat:no-repeat;
}
.white{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("WhitePowder4.png");
		background-size: 50%;
		background-position:center center;
	 background-repeat:no-repeat;
}
.black {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
		background-image:url("TDTipad.png");
		background-size: 70%;
		background-position:center center;
	 	background-repeat:no-repeat;
}
#about {
	height: 85%;
}

#about h1 {
   font-family: 'GrandHotelRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 70px;
   color: black;
}
.home-section h1 {
	font-family: 'GrandHotelRegular';
	font-size: 50px;
	color: black;
}
.portfolio-section h1 {
	font-family: 'GrandHotelRegular';
	font-size: 50px;
	color: black;
	text-align: center;
	display: center;
}
.contact-section h1 {
	font-family: 'GrandHotelRegular';
	font-size: 50px;
	color: black;
}
.cppe h2 {
	font-family: 'GrandHotelRegular';
	font-size: 32px;
	color: black;
}



.white:after, .white:before {
      position: absolute;
      opacity: 0;
      transition: all 1.0s;
      -webkit-transition: all 1.0s;
}

.white:before {
    content: attr(data-content);
    /*content: attr(href);*/
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 2s;
    bottom: 0;
    padding: 2px 2px;
    margin-bottom: 0px;
    text-align: center;
    /*box-sizing: border-box;*/
    -moz-box-sizing:border-box;
}

.white:after {
    content: "UX & Web Development";
    color:white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    text-align: center;
    padding-top: 40%;
    /*padding: 2px 2px;*/
    width: 100%;
    height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.8);
}
.white:hover:after, .white:hover:before {
    opacity: 1;
}
